html,body{
    height: 100%;
    margin: 0;
    
}
.home-container{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;


  
}
.home-background{
    position: relative;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    flex: 1;


}
.home-background p {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 30px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-radius: 20px;
    background: linear-gradient(135deg, hsla(0, 0%, 0%, 0.07), hsla(0, 0%, 0%, 0.601));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.304);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.9);
    letter-spacing: 0.6px;
    transition: all 0.5s ease;
    animation: glowFade 2.39s ease-in-out forwards;
    border: 8px solid rgba(27, 171, 255, 0.1);
}


.welcome{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 4rem;
    text-shadow: 1px 1px 2px black;
    background-color: rgba(0,0,0,0.5);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    color: white;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1s ease-in;
    
}
.chat-button{
    position: fixed;
    bottom: 5px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.about-click-button{
    bottom: 10px;
    position: fixed;
    left: 0px;
    padding: 12px 16px;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: hsl(32, 100%, 50%);
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    z-index: 1000;
}

.chat-button :hover{
    background-color: #0056b3;
}
.footer {
    background-color: hsl(0, 7%, 9%);
    color: white;
    text-align: center;
    padding: 2px 15px; 
    font-size: 0.85rem;  
    line-height: 2.0;
    margin-top: auto;    
  }
  
  .footer p {
    margin: 0;
    max-width: 500px;    
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lexend', sans-serif; 
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media(max-width:768px){
    .about-click-button{
        bottom: 105px;
    }
    .chat-button{
        bottom: 105px;
        right: 1px;
    }
    .welcome{
        font-size: 4rem;
        left: 65px;
    }
    .home-background p{
         border:none;
         background: transparent;
         font-size: 1.2rem;         
     }
     
}

@keyframes glowFade {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}


