.form-container{
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.821);
       padding: 20px;
        border-radius: 8px;
        width: 300px;   
        backdrop-filter: blur(6px);
          
}
.form-container p{
    text-align: center;
    font-weight: 700;
    color:hsl(0, 11%, 29%);
}
.container-parent{
 display: flex;
  flex-direction: column;
  background-image: url('../assets/datapage.png');
  align-items: center;
  justify-content: center; /* vertically center */
  height: 110vh; /* full viewport height */
  padding: 20px;
  gap: 20px;
}

.parent-input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.parent-button{
    width: 100%;
    padding: 10px;
    background-color: hsl(198, 86%, 51%);
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.trust-note{
 font-size: 1rem;
  color: lch(47.91% 4.97 19.92);
  text-align: center;
  max-width: 500px;
  margin-bottom: 2rem;
  font-weight: bold;
 
  border-radius: 10px;
}

@media (max-width:768px){
    .form-container{
        width: 80%;
        padding: 20px;
    }
   .container-parent{
    justify-content: center;
   }
     
}
