.form-sign{
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.821);
       padding: 20px;
        border-radius: 8px;
        width: 300px;
     

}

.sign-input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.sign-button{
    width: 100%;
    padding: 10px;
    background-color: hsl(300, 77%, 72%);
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.navigate-button{
position: fixed;
    bottom: 340px;
    left: 260px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;

}
.signUp-container{
  display: flex;
   background-image: url('../assets/prodgy.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  padding: 20px;
  gap: 20px;
}
.signUp-container h2{
  color: white;
}


.navigate-button hover{
     background-color: #0056b3;

}