.teacher-login-background {
  background-image: url('../assets/parentkid.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.psych{
  position: absolute;
  left: 900px;
  top: 400px;
}

.teacher-container {
  width: 100%;
  margin-left: 990px;
  margin-top: 100px;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.teacher-container input {
  width: 100%;
  margin: 10px 0;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.teacher-container p{
  color: gray;
  font-size: 1px;
}

.teacher-container button {
  margin-top: 10px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #9d19e4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width:768px){
  .teacher-container{
    margin-left: 0px;
    padding: 20px;
    
  }
}
.teacher-back{
  position: absolute;
  bottom: 320px;
  right: 700px;
  background-color: hsl(196, 76%, 30%);
  border: none;
  padding: 12px 16px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1000;

}
